<!DOCTYPE html>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
    
    
    
    <script src="scripts/app.js"></script>
    <script src="scripts/toDoController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>

<body ng-app="toDo" ng-controller="toDoController" ng-init="init()" ng-cloak>
    <div class="container">
        <form name="toDoForm" ng-submit="toDoForm.$valid && addItem(newItem)">
            <div class="form-group">
                <input type="text" name="newItem" required class="form-control input-lg" ng-minlength="1" placeholder="Add Item" ng-model="newItem"> </div>
            <button type="submit" class="btn btn-lg btn-primary">Add</button>
        </form>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"> To Do List</h1> </div>
            <table class="table table-bordered table-hover">
                <tr ng-hide="toDoList.length == 0" class="row">
                    <td>Item</td>
                </tr>
                <tr class="row" ng-repeat="toDo in toDoList">
                    <td class = "col-md-11 col-sm-11 col-sm-11 lead" ng-click="markDone(toDo)" ng-class="{strike: toDo.Done}">{{toDo.Item}}</td>
                    <td>
                        <button class="btn btn-lg btn-danger" ng-click="remove($index)">X</button>
                    </td>
                </tr>
                <tr class="row">
                    <td ng-show="toDoList.length == 0">Please enter some items to do</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>